$dark: #100028;
$info: #00bfe7;

.navbar-expand-lg {
    font-family: 'Tilt Neon', cursive;
    font-weight: bold;
    position: absolute;
    z-index: 2;
    width: 100%;
    margin-bottom: 100px;

    .container {
        .navbar-brand {
            font-family: 'WindSong', cursive;
            font-size: x-large;
            cursor: pointer;
        }
        .navbar-collapse{
            .navbar-nav{
                .nav-item{
                    .nav-link{
                        cursor: pointer;
                        border-bottom: 2px solid transparent;
                    }
                    .nav-link:hover{
                        border-bottom: 2px solid $info;
                    }
                    
                }
            }
        }
    }
}




@media only screen and (max-width: 992px) {
    .offcanvas-top {
        background-color: $dark ;

        .navbar-nav {
            background-color: $dark ;

        }
    }
}